<nav class="navbar">
    <div class="navbar-brand">
        <a href="/">MOODIFY</a>
    </div>
    <ul class="navbar-menu">
        <li><a href="/">Ana Sayfa</a></li>
        <li><a href="/personal-tips">personal-tips</a></li>
        <li><a href="/mood">mood</a></li>
        <li><a href="/exercise">exercise</a></li>
        <li><a href="/social-tips">social-tips</a></li>
    </ul>
</nav>